{% autoescape off %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation mail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .row img {
            display: flex;
            max-width: 100%;
            max-height: 65px;
        }
    </style>
</head>

<body>
    <div class="row center hide-on-small-only" style="background-color:#c9190a;margin:0;">
        <img src="https://s3-eu-west-1.amazonaws.com/bss-msp-4/static/images/logo.png">
    </div>
    
    <div class="row">
        <div class="col s12 m9" style="margin-left:5px;margin-right:5px">
            <p>Hello,</p>
            <p>Thank you for filling out the contact form at <a style="color:#c9190a" href="https://{{ site }}"><b>Brickstickershop</b></a>.</p>
            <p>Below you will find your submitted form. We will get in contact with you as soon as possible!</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m9" style="margin-left:5px;margin-right:5px">
            <table class="table">
                <tr style="border-color:#c9190a">
                    <td>
                        <b>Subject:</b>
                    </td>
                    <td>
                        {{ form_subject }}
                    </td>
                </tr>
                <tr style="border-color:#c9190a">
                    <td>
                        <b>Content:</b>
                    </td>
                    <td>
                        {{ form_content }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col s12 m9" style="margin-left:5px;margin-right:5px">
            <h6>Thank you for shopping with us!</h6>
            <p>Kindest regards,</p>
            <p>The team at <a style="color:#c9190a" href="https://{{ site }}"><b>Brickstickershop</b></a>.</p>
        </div>
    </div>
</body>

</html>

{% endautoescape %}