{% extends 'base.html' %} {% load static from staticfiles %} {% load crispy_forms_tags %} {% block content %}

<form role="form" action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-10 m-auto">
            <div class="display card card-default border-red">
                <div class="card-header bss-red bss-yellow-text">
                    <h4>Contact</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 m-auto col-sm-6">
                            {{ form.contact_name | as_crispy_field }}
                        </div>
                        <div class="col-10 m-auto col-sm-6">
                            {{ form.contact_email | as_crispy_field }}
                        </div>
                        <div class="col-12 m-auto">
                            {{ form.content | as_crispy_field }}
                        </div>
                        <div class="col-auto m-auto">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>


    <!--{{ form | crispy }}-->
    
</form>

{% endblock %}
