{% extends "base.html" %} 
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card border-red">
            <div class="card-title center">
                Success!
            </div>
            <div class="card-content center">
                Your password has been set. You may go ahead and log in now.
            </div>
            <div class="card-action center">
                <a class="btn bss-red bss-white-text" href="{{ login_url }}">
                <i class="bss-yellow-text fas fa-lock"></i>&nbsp;&nbsp;Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


