{% extends "base.html" %} {% block title %}Password reset complete{% endblock %} {% block content %}
<div class="row">
    <div class="col-12 col-sm-8 m-auto">
        <div class="card border-red">
            <div class="card-header">
                <h5>Success!</h5>
            </div>
            <div class="card-body">
                <center>
                    Your password has been set. You may go ahead and log in now.
                </center>
            </div>
            <div class="card-footer">
                <center>
                    <a class="btn btn-default bss-red bss-white-text" href="{{ login_url }}">
                        <i class="bss-yellow-text fas fa-lock"></i>&nbsp;&nbsp;Login</a>
                </center>
            </div>
        </div>
        <p></p>
    </div>
</div>

{% endblock %}


