{% extends "base.html" %} 
{% block pagetitle %}
Request Sent - BrickStickerShop
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card border-red">
            <h6 class="bss-red-text center">
                Password Reset Request Successful
            </h6>
            <div class="card-content center">
                <p>An e-mail with instructions for setting your password is on the way.</p>
                <p>You should be receiving it shortly. Please follow the included link.</p>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s6 center">
                        <a class="btn bss-red bss-white-text" style="width: 140px;" href="{% url 'index' %}">
                            <i class="bss-yellow-text fas fa-home"></i>&nbsp;Home</a>
                    </div>
                    <div class="col s6 center">
                        <a class="btn bss-red bss-white-text" style="width: 140px;"href="{% url 'products' %}">
                        <i class="bss-yellow-text fas fa-box-open"></i>&nbsp;Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
