{% extends "base.html" %} 
{% block content %}
<div class="row">
    <div class="col-12 col-sm-8 m-auto">
        {% if validlink %}
        <div class="card border-red">
            <div class="card-header">
                <h5>Set your new password below</h5>
            </div>
            <form action="" method="post" class="accountform">
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-8 m-auto">
                            Please enter your new password twice to verify:<br>
                            <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                            <div class="row">
                                <div class="col-10 m-auto">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password*:</label><br>
                                    <span class="input-red">{{ form.new_password1 }}</span>
                                </div>
                                <div class="col-10 m-auto">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password*:</label><br>
                                    <span class="input-red">{{ form.new_password2 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto m-auto">
                            <button class="btn btn-sm bss-red bss-white-text" type="submit" value="">Change my password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <div class="card border-red">
            <div class="card-header">
                <h5>Password reset unsuccessful</h5>
            </div>
            <div class="card-body">
                <p>The password reset link was invalid, <br>it might have already been used. <br> Please request a new password reset.</p>
            </div>
            <div class="card-footer">
                &nbsp;
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
