{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-12 col-sm-8 m-auto">
        <form method="post" class="accountform">
            <h5 class="bss-red-text">Password Reset Request</h5>
            <hr class="bss-red">
            <p>Please specify your email address so we can send you instructions.</p>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <div class="row">
                <div class="col-8 m-auto">
                    <div class="card border-red">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-auto m-auto">
                                    <label for="id_email" class="control-label required-field">E-mail address*:</label><br> 
                                    <span class="input-red">{{ form.email }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto m-auto">
                                    <button class="btn btn-deafult bss-red bss-white-text" type="submit">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
