{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-8 m-auto">
        <div class="card border-red">
            <div class="card-header">
                Password Reset Request Successful
            </div>
            <div class="card-body">
                <p>An e-mail with instructions for setting your password is on the way.</p>
                <p>You should be receiving it shortly. Please follow the included link.</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-auto m-auto">
                        <a class="btn btn-default bss-red bss-white-text" href="{% url 'index' %}">
                            <i class="bss-yellow-text fas fa-home"></i>&nbsp;Home</a>
                    </div>
                    <div class="col-auto m-auto">
                        <a class="btn btn-default bss-red bss-white-text" href="{% url 'products' %}">
                            <i class="bss-yellow-text fas fa-box-open"></i>&nbsp;Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
