{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block content %}

<div class="row">
    <div class="col s8 offset-s2">
        <form method="post" class="accountform">
            <p>Please specify your email address to receive password instructions on.</p>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} 
            <input class="btn" type="submit" value="Reset password"></p>
        </form>
    </div>
</div>


{% endblock %}
