{% extends 'base.html' %} 
{% block pagetitle %}
About / FAQ - BrickStickerShop
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center less-padding">
        <a href="{% url 'products' %}" class="btn bss-red bss-white-text center" role="button">
        <i class="fas fa-shoe-prints bss-yellow-text"></i>&nbsp;Go To Products</a>
    </div>
    <div class="col s10 offset-s1 less-padding">
        <h5 class="bss-red-text">Frequently asked questions:</h5>
        <div class="divider bss-red"></div>
        {% for topic in faq %}
        <blockquote>{{ topic.question }}</blockquote>
        <p>{{ topic.answer }}</p>
        <div class="divider bss-red"></div>
        {% endfor %}
    </div>
    <div class="col s12 center less-padding">
        <a href="{% url 'products' %}" class="btn bss-red bss-white-text center" role="button">
        <i class="fas fa-shoe-prints bss-yellow-text"></i>&nbsp;Go To Products</a>
    </div>
</div>
{% endblock %}
