{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 center less-padding">
        <a href="{% url 'products' %}" class="btn bss-red bss-white-text center" role="button">
        <i class="fas fa-shoe-prints bss-yellow-text"></i>&nbsp;Go To Products</a>
    </div>
    <div class="col s10 offset-s1">        
        <h5 class="bss-red-text">To Return an Order:</h5>
        <p>You have the right to cancel your order up to 14 days after receival without giving any reason. 
        After cancellation, you have another 14 days to return your product. You will then be credited with the 
        full order amount including shipping costs. Only the costs for returning from your home to the webshop 
        are for your own account. For the exact rates, consult your carrier's website. If you use your right of 
        withdrawal, the product with all accessories and - if reasonably possible - in the original condition 
        and packaging will be returned to the entrepreneur. To exercise this right, please contact us at 
        support@example.com. We will then refund the order amount due within 14 days after registration 
        of your return, provided that the product has already been returned in good order.</p>
        <div class="divider bss-red"></div>
        <blockquote>Return Address:</blockquote>
        <p>Brickstickershop<br>
        Streetaddress 111<br>
        1234AA Towncity<br>
        Country<br></p>
    </div>
</div>
{% endblock %}