{% extends 'base.html' %} 
{% load static %} 
{% load materializecss %} 
{% block pagetitle %}
{{product.setnumber}} - {{product.name}} - BrickStickerShop
{% endblock %}
{% block content %}
<div class="row no-margin">
    <div class="left">
        <a href="{% url 'products' %}" class="btn bss-red bss-white-text" role="button">
        <i class="fas fa-shoe-prints bss-yellow-text"></i> Back to Products</a>
    </div>
</div>
<div class="row">
    <div class="col s12 no-padding">
        <div class="card border-red no-margin-bottom">
            <div class="card-content no-padding">
                <div class="row no-margin less-padding bss-red">
                    <div class="card-title adjust-title col s12 bss-white-text">
                        <span class="bss-yellow-text">{{product.setnumber}}</span> - {{product.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                        <div class="slide-height center">
                            <a href="{{ MEDIA_URL }}{{ product.image1 }}" data-lightbox="Image-{{product.id}}-img" data-title="{{product.name}}">
                                <img class="productSlides" src="{{ MEDIA_URL }}{{ product.image1 }}" alt="{{product.name}}" style="">
                            </a>
                            <a href="{{ MEDIA_URL }}{{ product.image2 }}" data-lightbox="Image-{{product.id}}-img" data-title="{{product.name}}">
                                <img class="productSlides" src="{{ MEDIA_URL }}{{ product.image2 }}" alt="{{product.name}}" style="display:none">
                            </a>
                        </div>
                    <div class="row no-margin">
                        <div class="col s6 center">
                            <img class="productThumbnail" src="{{ MEDIA_URL }}{{ product.image1 }}" onclick="showProductSlide(1)" alt="Thumbnail 1">
                        </div>
                        <div class="col s6 center">
                            <img class="productThumbnail" src="{{ MEDIA_URL }}{{ product.image2 }}" onclick="showProductSlide(2)" alt="Thumbnail 2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 more-padding">
                    <div class="row center">
                        <h5 class="bss-red-text">Category: {{product.category}}</h5>
                        <h6>{{product.description}}</h6>
                    </div>
                    {% if product.id in cart_ids %}
                    <div class="card-panel border-red bss-yellow-light less-padding no-margin">
                        <div class="card-panel border-red bss-white less-padding no-margin center">
                            <div class="row">
                                <div class="col-s12">
                                    This item has been added to your cart.<br>
                                    You can adjust the quantity, or remove the item, by going there now.
                                </div>
                            </div>
                            <div class="row no-margin">
                                <a class="btn bss-red bss-white-text" href="{% url 'view_cart' %}">
                                    <i class="bss-yellow-text fas fa-shopping-cart"></i>
                                    &nbsp;Go to cart
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-action no-padding">
                <div class="row no-margin">
                    <div class="col s6 no-padding">
                        <button class="left btn bss-red-text white product-price" style="width:80px!important">&euro; {{ product.price }}</button>
                    </div>
                    <div class="col s6 no-padding">
                        <form method="post" action="{% url 'add_to_cart' product.id %}" class="">
                            {% csrf_token %}
                            {% if product.id in cart_ids %}
                            <button name="quantity" value="1" class="right btn bss-white-text bss-red" type="submit" disabled>
                                <i class="fas fa-check-double green-text text-darken-1"></i>
                                &nbsp;Cart
                            </button> 
                            {% else %}
                            <button name="quantity" value="1" class="right btn bss-white-text bss-red" type="submit">
                                <i class="fas fa-cart-plus bss-yellow-text"></i>&nbsp;Add
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button class="bss-red bss-white-text btn modal-trigger" data-target="modal1">
        <i class="fas fa-caret-square-down bss-yellow-text"></i>
        &nbsp;Leave a comment&nbsp;
    </button>
    <div class="row"></div>
    <div class="col s12 m10 offset-1 xl8 offset-xl2 no-padding">
        <div id="modal1" class="modal border-red bss-yellow-light">
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-content less-padding">
                    <h6 class="bss-red-text">Leave a comment</h6>
                    {% csrf_token %}
                    <div class="card no-margin border-red">
                        <div class="card-content">
                            <div class="row no-margin">
                                {{ comment_form.author | materializecss:'s12 m6 l4 xl3, icon=person' }}
                                {{ comment_form.content | materializecss:'s12, icon=create' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bss-yellow-light">
                    <button class="left modal-close btn bss-red bss-white-text">
                        <i class="far fa-times-circle bss-yellow-text"></i> Cancel
                    </button>
                    <button type="submit" class="right btn bss-red bss-white-text">
                        <i class="far fa-check-square bss-yellow-text"></i> Save Comment
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
    <div class="col s12 xl-6 no-padding">
        {% if comments %}
            <div class="row no-margin">
                <div class="col s12 bss-yellow-light border-red">
                    {% for comment in comments %}
                    <div class="card margin-fix-comment border-red">
                        <div class="card-content">
                            <p>{{ comment.content }}</p><br>
                            <sup>{{ comment.author }} - {{ comment.date }}</sup>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
