{% extends "base.html" %} 
{% block content %}
<div class="row center">
    <div class="col s6 m3 center">
        <a href="{% url 'add_product' %}" class="btn bss-red bss-white-text" style="width:100%;">
            <i class="fas fa-plus-circle bss-yellow-text"></i>&nbsp;Add Product</a><br>
        <span class="bss-red-text" style="padding:3px;font-size:0.7rem;">&nbsp;</span>
    </div>
    <div class="col s6 m3 center">
        <a href="{% url 'add_faq' %}" class="btn bss-red bss-white-text" style="width:100%;">
            <i class="fas fa-question-circle bss-yellow-text"></i>&nbsp;Add FAQ</a><br>
        <span class="bss-red-text" style="padding:3px;font-size:0.7rem;">&nbsp;</span>
    </div>
    <div class="col s6 m3 center">
        <a href="{% url 'orders' %}" class="btn bss-red bss-white-text" style="width:100%;">
            <i class="fas fa-list-ol bss-yellow-text"></i>&nbsp;Orders</a><br>
        <span class="bss-red-text" style="padding:3px;font-size:0.7rem;">&nbsp;</span><br>
    </div>
    <div class="col s6 m3 center">
        <a href="{% url 'dl_csv' %}" class="btn bss-red bss-white-text" style="width:100%;">
            <i class="fas fa-file-download bss-yellow-text"></i>&nbsp;Get CSV</a><br>
        <span class="bss-red-text" style="padding:3px;font-size:0.7rem;">Newsletter Recipients:&nbsp;{{ total_users }}</span>
    </div>
    
</div>
{% block staffcontent %}
<div class="row">
    <div class="col s12">
        <ul class="collapsible border-red">
        {% for order in orders %}
            <li>
                <div class="collapsible-header bss-red bss-white-text">
                    <i class="material-icons bss-yellow-text">arrow_drop_down</i>{{ order.date }} - OrderID: {{ order.id }}
                </div>
                <div class="collapsible-body bss-yellow-light less-padding">
                    <div class="card-panel border-red less-padding">
                        <div class="row no-margin">
                        {% for item in order_items %} {% if item.order.id == order.id %}
                            <div class="col s12 no-padding">
                                <div class="card border-red card-bottom-margin">
                                    <div class="card-content">
                                        <div class="bss-red-text">
                                            {{ item.product.setnumber }} - {{ item.product.name }}
                                            <span class="right">&euro; {{ item.product.price }}</span>
                                        </div>
                                        <div>
                                            {{item.product.description}}
                                            <span class="right">Qty:&nbsp;{{ item.quantity }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}{% endfor %}
                        </div>
                        <div class="row no-margin">
                            <div class="col s8 no-padding">
                                <div class="card-panel border-red less-padding">
                                    <h6 class="bss-red-text">Shipping address:</h6>
                                    {{ order.full_name }}<br>
                                    <sup>{{ order.address1 }} {% if order.address2 %},&nbsp;{{ order.address2 }}{% endif %}<br>
                                    {% if order.postcode %} {{ order.postcode }}&nbsp;{% endif %}{{ order.town_or_city }},&nbsp;
                                    {% if order.state_or_province %} {{ order.state_or_province }}&nbsp; {% endif %} 
                                    {{ order.country }}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <form method="post" action="{% url 'toggle' order.id %}" class="float-right">
                                {% csrf_token %}
                                <button type="submit" class="btn bss-red bss-white-text right">
                                    <i class="fas fa-clipboard-check bss-yellow-text"></i> Order sent?
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% endblock %}