{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load materializecss %} 
{% block head_stripe_js %}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    //<![CDATA[
    var stripe = Stripe('{{ stripe_pk }}');
    Stripe.setPublishableKey('{{ stripe_pk }}');
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %} 
{% block content %}
{% if total > 0 %}
<div class="row no-margin">
    <div class="left">
        <a href="{% url 'products' %}" class="btn btn-sm bss-red bss-white-text" role="button">
            <i class="fas fa-shoe-prints bss-yellow-text"></i> Continue Shopping
        </a>
    </div>
</div>
<div class="row">
    <ul class="collapsible border-red">
        <li class="active">
            <div class="collapsible-header bss-red bss-white-text">
                <i class="material-icons bss-yellow-text">shopping_cart</i>CART CONTENT - Total price: &euro; {{ total }}
            </div>
            <div class="collapsible-body bss-yellow-light less-padding">
                <div class="row no-margin">
                    {% for item in cart_items|dictsort:'product.setnumber' %}
                    <div class="col s12 m6 l4">
                        <div class="card border-red hoverable">
                            <div class="card-image product center">
                                <img src="{{ MEDIA_URL }}{{ item.product.image1 }}" alt="{{ item.product.name }}">
                            </div>
                            <div class="card-content">
                                <h6 class="bss-red-text">{{ item.product.setnumber }} - {{ item.product.name | truncatewords:4 }}</h6>
                                <div class="card-panel no-margin less-padding border-red fixed-height bss-blue-light">
                                    <div class="row no-margin">
                                        <div class="col s12">
                                            <p class="product-description">{{item.product.description | truncatechars:40 }}</p>
                                        </div>
                                        <div class="col s8">
                                            <sup>Category: {{item.product.category}}</sup>
                                        </div>
                                        <div class="col s4">
                                            <span class="right bss-red-text">&euro; {{ item.product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action no-padding">
                                <div class="row less-margin-bottom">
                                    <form method="post" action="{% url 'adjust_cart' item.id %}" class=""> {% csrf_token %}  
                                        <div class="col s2 offset-s1">
                                            Qty:&nbsp;
                                        </div>
                                        <div class="col s3 no-padding center-align-items qty-cart">
                                            <input name='quantity' type="number" min="1" max="999" class="left" value="{{ item.quantity }}">
                                        </div>
                                        <div class="col s6 right">
                                            <button class="btn width-fix-cart1 bss-white-text bss-red right" type="submit">
                                                <i class="fas fa-edit bss-yellow-text"></i>&nbsp;Adjust
                                            </button>
                                        </div>
                                    </form>    
                                </div>
                            </div>
                            <div class="row no-margin">
                                <form method="post" action="{% url 'adjust_cart' item.id %}" class="float-right"> {% csrf_token %}
                                    <div class="col s7 no-padding">
                                        <button type="button" class="btn bss-red-text bss-white product-price left">
                                            item total: &euro; {{ item.product_total_price }}
                                        </button>
                                    </div>
                                    <div class="col s5 no-padding">
                                        <button type="submit" name="quantity" value="0" class="btn width-fix-cart1 bss-red bss-white-text right">
                                            <i class="fas fa-trash-alt bss-yellow-text"></i>&nbsp;Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header bss-red bss-white-text no-border-bottom">
                <i class="material-icons bss-yellow-text">monetization_on</i>ADDRESS AND PAYMENT
            </div>
            <div class="collapsible-body bss-yellow-light less-padding">
                <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}"> {% csrf_token %} 
                    <div class="card-panel bss-white border-red no-margin less-padding">
                        <div class="row less-margin-bottom">
                            <div class="col s12 no-padding">
                                <div class="card-panel border-red white no-margin">
                                    <div class="row no-margin bss-red-text">
                                        <h6 class="no-margin">Address Information</h6>
                                    </div>
                                    <div class="row no-margin">
                                        {{ order_form.full_name | materializecss:'s12 shrink-font-size' }}
                                        {{ order_form.address1 | materializecss:'s12 m6 shrink-font-size' }}
                                        {{ order_form.address2 | materializecss:'s12 m6 shrink-font-size' }}
                                        {{ order_form.postcode | materializecss:'s12 m4 l2 shrink-font-size' }}
                                        {{ order_form.town_or_city | materializecss:'s12 m8 l4 shrink-font-size' }}
                                        {{ order_form.state_or_province | materializecss:'s12 m4 l2 shrink-font-size' }}
                                        {{ order_form.country | materializecss:'s12 m8 l4 shrink-font-size' }}
                                        {{ order_form.phone_number | materializecss:'s12 m4 l2 shrink-font-size' }}
                                        {{ order_form.email_address | materializecss:'s12 m8 l4 shrink-font-size' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 no-padding">
                                <div class="card-panel border-red white no-margin">
                                    <div class="row no-margin bss-red-text">
                                        <h6 class="no-margin">Payment Information</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col m4 l3 hide-on-small-only center">
                                            <img class="center" src="{% static 'images/payment-logo-stripe.png' %}" width="150" alt="Stripe Logo (left)">
                                        </div>
                                        <div class="col s12 m8 l6 xl4 offset-xl1">
                                            {{ payment_form.credit_card_number | materializecss:'s9 shrink-font-size' }}
                                            {{ payment_form.cvv | materializecss:'s3 shrink-font-size' }}
                                            {{ payment_form.expiry_month | materializecss:'s6 m4 shrink-font-size' }}
                                            {{ payment_form.expiry_year | materializecss:'s6 m4 shrink-font-size' }}
                                            <div class="hide">
                                                {{ payment_form.stripe_id | materializecss }}
                                            </div>
                                        </div>
                                        <div class="col l3 xl3 offset-xl1 hide-on-med-and-down center">
                                            <img class="center" src="{% static 'images/bss-brick-cc.png' %}" width="150" alt="Figure with Credit Card (right)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center">
                            <button type="submit" class="btn btn-default bss-red bss-white-text" id="submit_payment_btn" name="commit">
                                <i class="fas fa-donate bss-yellow-text"></i> Submit Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
{% else %}
<div class="row">
    <div class="col s10 offset-s1 m6 offset-m3">
        <div class="card border-red">
            <div class="card-content center-align">
                <h5>
                    Your cart is empty.
                </h5>
            </div>
            <div class="card-action">
                <div class="center-align">
                <a href="{% url 'products' %}" class="btn btn-sm bss-red bss-white-text" role="button">
                    <i class="fas fa-shoe-prints bss-yellow-text"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
