{% autoescape off %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation mail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .col img {
            display: block;
            max-width: 100%;
            max-height: 75px;
        }
    </style>
</head>

<body>
    <div class="row" style="background-color:#c9190a;padding:0;margin:0;">
        <div class="col s12">
            <img src="{% static 'images/logo.png' %}">
        </div>
    </div>
    
    <div class="row">
        <div class="col s9" style="margin-left:5px;margin-right:5px">
            <p>Thank you for your order at <a style="color:#c9190a" href="https://{{ site }}"><b>Brickstickershop</b></a>.</p>
            <p>Your order has been given the following orderID: <b>BSS-{{ order.id }}</b><br>
            Please refer to this orderID in case you have any questions.</p>
            <p>If needed, please contact us through the following link: <a style="color:#c9190a" href="https://{{ site }}/contact/"><b>Contact</b></a></p>
            <p>Below is an overview of the item(s) you've chosen to buy:</p>
        </div>
    </div>
    <div class="row">
        <div class="col s9" style="margin-left:5px;margin-right:5px">
            <table class="table">
                <tbody>
                    <tr style="border-color:#c9190a;">
                        <th style="color:#c9190a;">Item</th>
                        <th></th>
                        <th></th>
                        <th style="color:#c9190a;">Item Total</th>
                    </tr>
                    {% for item in order_items %}
                    <tr>
                        <td>
                            <b>{{ item.product.setnumber}}</b> - {{ item.product.name}}<br>
                            <b>Price:</b> € {{ item.product.price }}&emsp;<b>Qty:</b> {{ item.quantity }}
                        </td>
                        <td></td>
                        <td></td>
                        <td>€ {{ item.total_item_price }}</td>
                    </tr>
                    {% endfor %}
                    <tr style="border-color:#c9190a;">
                        <th></th>
                        <th></th>
                        <th>Total amount paid: </th>
                        <th>€ {{ total }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s9" style="margin-left:5px;margin-right:5px">
            <br>
            Your purchase(s) will be shipped to the following address:
            <br>&nbsp;<br>
            <table class="table">
                <tbody>
                    <tr style="border-color:#c9190a;">
                        <td style="color:#c9190a;">
                            <b>Shipping Address:</b>
                        </td>
                    </tr>
                    <tr style="border-color:#c9190a;">
                        <td>
                            <b>{{ order.full_name }}</b><br>
                            {{ order.address1 }}{% if order.address2 %} - {{ order.address2 }}{% endif %}<br>
                            {% if order.postcode %}{{ order.postcode }} {% endif %}{{ order.town_or_city}}<br>
                            {% if order.state_or_province %}{{ order.state_or_province }} {% endif %}{{ order.country }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s9" style="margin-left:5px;margin-right:5px">
            <h6>Thank you for shopping with us!</h6>
            <p>Kindest regards,</p>
            <p>The team at <a style="color:#c9190a" href="https://{{ site }}"><b>Brickstickershop</b></a>.</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

{% endautoescape %}
