{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-8 m-auto">
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <h5>Login to your account</h5>
            <hr class="bss-red"> {% csrf_token %} {{ user_form | crispy }}
            <div class="row">
                <div class="col-auto m-auto"><a href="{% url 'password_reset' %}">Forgot password?<br>&nbsp;</a></div>
            </div>
            <div class="row">
                <div class="col-auto m-auto">
                    <button type="submit" class="btn btn-default bss-red bss-white-text">
                        <i class="fas fa-lock bss-yellow-text"></i> Login</button></div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-8 m-auto">
        <h5>Don't have an account yet?</h5>
        <hr class="bss-red">

        <div class="row">
            <div class="col-auto m-auto">
                <a class="btn btn-default bss-red bss-white-text" href="{% url 'register' %}" role="button">
            <i class="fas fa-user-plus bss-yellow-text"></i> Register</a>
                <!--<a href="{% url 'register' %}">Register</a></div>-->
            </div>
        </div>
    </div>

    {% endblock %}
