{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-8 m-auto">
        <h4>Your Saved Information:</h4>
        <hr class="bss-red">
        <p>Your user ID is: <b>{{ user.id }}</b></p>
        <p> Your username is: <b>{{ user.username }}</b></p>
        <p>You are logged in as: <b>{{ user.email }}</b></p>
        <p>Your First Name: <b>{{ user.first_name }}</b></p>
        <p>Your Last name: <b>{{ user.last_name }}</b></p>
        <hr class="bss-red">
    </div>
</div>

{% endblock %}
