{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-12 m-auto">
        <h4>We have this information on you in our database:</h4>
        <hr class="bss-red">
        <table class="table">
            <tr>
                <th>Username:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email address:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>First name:</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td>{{ user.last_name }}</td>
            </tr>
            {% if user.is_staff %}
            <tr>
                <th>Staff Member:</th>
                <td>YES</td>
            </tr>
            {% if user.is_superuser %}
            <tr>
                <th>Site Admin:</th>
                <td>YES</td>
            </tr>
            {% else %}
            <tr>
                <th>Site Admin:</th>
                <td>NO</td>
            </tr>
            {% endif %} {% endif %}
        </table>
        <hr class="bss-red">
    </div>
</div>
<div class="row">
    <div class="col-auto m-auto">
        <form method="post" action="{% url 'forgetme' %}">
            {% csrf_token %}
            {% if user.is_staff %}
            <button class="btn btn-default bss-red bss-white-text" type="submit" disabled>
                <i class="far fa-times-circle bss-yellow-text"></i> Delete me</button>
            {% else %}
            <button class="btn btn-default bss-red bss-white-text" type="submit">
                <i class="far fa-times-circle bss-yellow-text"></i> Delete me</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
