{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-10 m-auto">
        <form method="post" action="{% url 'register' %}" class="accountform">
            <h5>Create a new account</h5>
            <p>Already have an account? <a href="{% url 'login' %}">Sign In Here</a></p>
            {% csrf_token %}
            <div class="row">
                <legend>&nbsp;<span class="red-text"><b>Fields with * are required</b></span>&nbsp;</legend>
                <div class="col-12 col-sm-6">{{ user_form.username |as_crispy_field}}</div>
                <div class="col-12 col-sm-6">{{ user_form.email |as_crispy_field}}</div>
                <div class="col-12 col-sm-6">{{ user_form.password1 |as_crispy_field}}</div>
                <div class="col-12 col-sm-6">{{ user_form.password2 |as_crispy_field}}</div>
                <div class="col-12 col-sm-6">{{ user_form.first_name |as_crispy_field}}</div>
                <div class="col-12 col-sm-6">{{ user_form.last_name |as_crispy_field}}</div>
                <div class="col-12 col-sm-12">{{ user_data_form.address_1 |as_crispy_field}}</div>
                <div class="col-12 col-sm-12">{{ user_data_form.address_2 |as_crispy_field}}</div>
                <div class="col-12 col-sm-4">{{ user_data_form.postal_code |as_crispy_field}}</div> 
                <div class="col-12 col-sm-8">{{ user_data_form.town_or_city |as_crispy_field}}</div>
                <div class="col-12 col-sm-4">{{ user_data_form.state_or_province |as_crispy_field}}</div>
                <div class="col-12 col-sm-8">{{ user_data_form.country |as_crispy_field}}</div>
            <button type="submit" class="btn btn-primary">Create account</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
