{% extends "base.html" %} {% load crispy_forms_tags %} 
{% block csvdownload %}
    <a href="{% url 'dl_csv' %}" class="btn btn-sm bss-yellow bss-red-text">Newsletter CSV</a>
    <b class=bss-white-text>&nbsp;&nbsp;Recipients:&nbsp;</b> <span class="bss-white-text">{{ total_users }}</span>
{% endblock %}
{% block content %}
<div class="row">
    {% for order in orders %}
    <div class="col-12 col-sm-10 m-auto">
        <div id="pendingOrder-{{order.id}}">
        <div class="card border-red  my-2">
            <div class="card-header bss-red" id="head-{{order.id}}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed bss-white-text" type="button" data-toggle="collapse" data-target="#collapse{{order.id}}" aria-expanded="true" aria-controls="collapse{{order.id}}">
                    <i class="fas fa-angle-double-down bss-yellow-text"></i>&nbsp;&nbsp;{{ order.date }} - OrderID: {{ order.id }}
                    </button>
                </h5>
            </div>
            
            <div id="collapse{{order.id}}" class="collapse" aria-labelledby="head-{{order.id}}" data-parent="#pendingOrder-{{order.id}}">
                <div class="card-body">
                    {% for item in order_items %} {% if item.order.id == order.id %}
                    <div class="card border-red my-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <b>{{ item.product.setnumber }}</b>
                                    - {{ item.product.name }}<br> 
                                    Qty: {{ item.quantity }} - Price: € {{ item.total_item_price }}
                                </div>
                                <div class="col-md-4 d-none d-sm-none d-md-block product">
                                    <img class="" src="{{ MEDIA_URL }}{{ item.product.image1 }}" alt="Sticker - {{ item.product.setnumber }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <b>Shipping address:</b><br>
                            {{ order.full_name }}<br>
                            {{ order.address1 }}<br>
                            {% if order.address2 %} {{ order.address2 }}<br>{% endif %} 
                            {% if order.postcode %} {{ order.postcode }}&nbsp; {% endif %}
                            {{ order.town_or_city }}<br>
                            {% if order.state_or_province %} {{ order.state_or_province }}&nbsp; {% endif %} 
                            {{ order.country }}
                        </div>
                        <div class="col-4">
                            <form method="post" action="{% url 'toggle' order.id %}" class="float-right">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default bss-red bss-white-text">
                                    <i class="fas fa-clipboard-check bss-yellow-text"></i> Order sent?
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% if not orders %}
    <div class="col-12 col-sm-4 mr-auto my-2">
        <div class="card border-red">
            <div class="card-header">
                All done!
            </div>
            <div class="card-body">
                There are currently no unsent orders
            </div>
            <div class="card-footer">
                &nbsp;
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}