{% extends 'base.html' %} {% load static from staticfiles %} {% load crispy_forms_tags %} {% block content %} {% if total > 0 %}
<div class="row">
    <div class="col-auto mx-auto">
        <a href="{% url 'products' %}" class="btn btn-sm bss-red bss-white-text" role="button">
            <i class="fas fa-shoe-prints bss-yellow-text"></i> Continue Shopping</a>
    </div>
</div>
{% endif %}
{% if total == 0 %}
<div class="row">
    <div class="col-10 col-md-6 mx-auto">
        <div class="display card card-default border-red">
            <div class="card-body">
                <h5>
                    Your cart is empty.
                </h5>
                
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                <a href="{% url 'products' %}" class="btn btn-sm bss-red bss-white-text" role="button">
                    <i class="fas fa-shoe-prints bss-yellow-text"></i> Go to Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 my-1">
        <div class="display card card-default border-red">
            <div class="card-header bss-red bss-yellow-text">
                Cart contents
            </div>
            <div class="card-body">
                {% for item in cart_items %}
                <div class="my-1">
                    <div class="display card card-default border-red">
                        <div class="card-body less-padding">
                            <div class="row">
                                <div class="d-none d-sm-none d-md-block col-3">
                                    <div class="product">
                                        <center>
                                            <img src="{{ MEDIA_URL }}{{ item.product.image1 }}">
                                        </center>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <sup>{{item.product.description}}</sup><br>
                                    <sup>Series: {{item.product.category}}</sup><br> &euro; {{ item.product.price }}
                                </div>
                                <div class="col-12 col-sm-6 ml-sm-auto col-md-4 ml-md-auto">
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <form method="post" action="{% url 'adjust_cart' item.id %}" class="float-right">
                                                {% csrf_token %}
                                                <div class="form-group no-margin">
                                                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend"><span class="input-group-text">Qty</span></div>
                                                        <input name="quantity" type="number" min="0" max="999" class="form-control qty-field" value="{{item.quantity}}">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-sm bss-red bss-white-text"><i class="far fa-edit bss-yellow-text"></i> Adjust</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-12 my-2">
                                            <form method="post" action="{% url 'adjust_cart' item.id %}" class="float-right">
                                            {% csrf_token %}
                                                <button type="submit" name="quantity" value="0" class="btn btn-sm bss-red bss-white-text"><i class="fas fa-trash-alt bss-yellow-text"></i> Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-auto mx-auto">
        <div class="input-group input-group-sm border-red hard-borderradius">
            <div class="input-group-prepend">
                <span class="input-group-text">Total: </span>
            </div>
            <div class="input-group-prepend">
                <span class="input-group-text">&euro; {{ total }} </span>
            </div>
            <div class="input-group-append">
                <a href="{% url 'checkout' %}" class="btn btn-default bss-red bss-white-text" role="button">
                    <i class="far fa-credit-card bss-yellow-text"></i> Proceed to Checkout</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
