{% extends 'base.html' %}
{% load static %} 
{% block content %} 
{% if total > 0 %}
<div class="row no-margin">
    <div class="left">
        <a href="{% url 'products' %}" class="btn bss-red bss-white-text" role="button">
            <i class="fas fa-shoe-prints bss-yellow-text"></i> Continue Shopping</a>
    </div>
</div>
{% endif %}
{% if total == 0 %}
<div class="row">
    <div class="col s10 offset-s1 m6 offset-m3">
        <div class="card border-red">
            <div class="card-content center-align">
                <h5>
                    Your cart is empty.
                </h5>
            </div>
            <div class="card-action">
                <div class="center-align">
                <a href="{% url 'products' %}" class="btn btn-sm bss-red bss-white-text" role="button">
                    <i class="fas fa-shoe-prints bss-yellow-text"></i> Go to Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="card border-red">
        <div class="card-content bss-yellow-light no-padding">
            <div class="col s12 no-padding">
                <span class="card-title bss-red bss-white-text no-margin less-padding" style="font-size:1rem;">
                &nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart bss-yellow-text"></i>&nbsp;CART</span>
            </div>
            <div class="row no-margin">
                {% for item in cart_items|dictsort:'product.setnumber' %}
                <div class="col s12 m6 l4">
                    <div class="card border-red hoverable">
                        <div class="card-image product center">
                            <img src="{{ MEDIA_URL }}{{ item.product.image1 }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="card-content">
                            <h6 class="bss-red-text">{{ item.product.setnumber }} - {{ item.product.name | truncatewords:4 }}</h6>
                            <div class="card-panel no-margin less-padding border-red fixed-height bss-blue-light">
                                <div class="row no-margin">
                                    <div class="col s12">
                                        <p class="product-description">{{ item.product.description | truncatechars:40 }}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col s8">
                                            <sup>Category: {{ item.product.category }}</sup>
                                        </div>
                                        <div class="col s4">
                                            <span class="right bss-red-text">&euro; {{ item.product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action no-padding">
                            <div class="row less-margin-bottom">
                                <form method="post" action="{% url 'adjust_cart' item.id %}" class=""> {% csrf_token %}  
                                    <div class="col s2 offset-s1">
                                        Qty:&nbsp;
                                    </div>
                                    <div class="col s3 no-padding center-align-items qty-cart">
                                        <input name='quantity' type="number" min="1" max="999" class="left" value="{{ item.quantity }}">
                                    </div>
                                    <div class="col s6 right">
                                        <button class="btn width-fix-cart1 bss-white-text bss-red right" type="submit">
                                            <i class="fas fa-edit bss-yellow-text"></i>&nbsp;Adjust
                                        </button>
                                    </div>
                                </form>    
                            </div>
                        </div>
                        <div class="row no-margin">
                            <form method="post" action="{% url 'adjust_cart' item.id %}" class="float-right"> {% csrf_token %}
                                <div class="col s7 no-padding">
                                    <button type="button" class="btn bss-red-text bss-white product-price left">item total: &euro; {{ item.product_total_price }}</button>
                                </div>
                                <div class="col s5 no-padding">
                                    <button type="submit" name="quantity" value="0" class="btn width-fix-cart1 bss-red bss-white-text right">
                                        <i class="fas fa-trash-alt bss-yellow-text"></i>&nbsp;Delete
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 no-padding">
        <button class="right btn bss-red-text bss-white product-price width-fix-cart2 border-red">Total &euro; {{ total }}</button>
    </div>
    <div class="col s6 no-padding">
        <a href="{% url 'checkout' %}" class="left btn bss-red width-fix-cart2 bss-white-text" role="button">
        <i class="far fa-credit-card bss-yellow-text"></i> to Checkout</a>
    </div>
</div>
{% endif %}
{% endblock %}
