{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.6.0/js/all.js"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block head_stripe_js %}{% endblock %}
    <title>Brick Sticker Shop</title>
</head>

<body>
    <header>
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bss-red">
            <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" width="300"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-0">
                    <li class="nav-item active">
                        <a class="nav-link bss-white-text" href="{% url 'index' %}"><i class="bss-yellow-text fas fa-home"></i>
                            <span class="sr-only">(current)</span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bss-white-text" href="{% url 'contact' %}"><i class="bss-yellow-text fas fa-edit"></i> Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link bss-white-text" href="{% url 'logout' %}"><i class="bss-yellow-text fas fa-user"></i> Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link bss-white-text" href="{% url 'login' %}"><i class="bss-yellow-text fas fa-user"></i> Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bss-red">
            {% block search %} {% endblock %}
            <a class="nav-link bss-white-text ml-auto mr-0" href="{% url 'view_cart' %}">
                <i class="bss-yellow-text fas fa-shopping-cart fa-lg"></i>
                {% if product_count > 0 %}
                <sup><label class="cover-cart badge badge-pill badge-dark">{{ product_count }}</label></sup>
                {% endif %}
            </a>
        </nav>
    </div>
    </header>

    <main role="main" class="container">
    {% if messages %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    {% endif %}
    
    {% block content %} {% endblock %}
    </main>
    
    <footer role="footer" class="footer">
        <div class="container">
            <div class="row footer-lineheight">
                <div class="col-6 col-sm-3 mx-auto">
                    <center>
                        <a class="bss-white-text" href="{% url 'about' %}">
                        <i class="bss-yellow-text fas fa-question-circle"></i> About the Stickers</a>
                    </center>
                </div>
                <div class="col-6 col-sm-3 mx-auto">
                    <center>
                        <a class="bss-white-text" href="{% url 'privacy' %}">
                        <i class="bss-yellow-text fas fa-info-circle"></i> Privacy Statement</a>
                    </center>
                </div>
                <div class="col-6 col-sm-3 mx-auto">
                    <center>
                        <a class="bss-white-text" href="{% url 'terms_and_conditions' %}">
                        <i class="bss-yellow-text far fa-handshake"></i> Terms and Conditions</a>
                    </center>
                </div>
                <div class="col-6 col-sm-3 mx-auto">
                    <center>
                        <a class="bss-white-text" href="{% url 'returns' %}">
                        <i class="bss-yellow-text fas fa-undo-alt"></i> Returns</a>
                    </center>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
